# To obtain the login details:
# To locate the username and password via secure real life channels, such as a paper copy of it, or from a credentials.properties file a member of
# the team may have stored locally. Failing this, you will need to contact the CMS team and request username/password details
# This file should be amended with the corresponding methode login details
methode.api.userName=ENTERUSERNAME
methode.api.password=ENTERPASSWORD

