# To obtain the login details:
# You will need to contact CMS team and request username/password details
# This file should be amended with the corresponding methode test connection login details
methode.api.userName=ENTERUSERNAME
methode.api.password=ENTERPASSWORD

